<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.png">
    <link rel="stylesheet" href="../src/module-style.css">
    <title>GrupoA Educação - Full Stack Web Developer</title>
  </head>
  <body>
    <div class="menu">
      <img src="../assets/logo-grupoa.png">

      <h2>MÓDULO ACADÊMICO</h2>

      <button type="submit" name="action">PROFESSORES</button>
      <button type="submit" name="action">ALUNOS</button>

      
    </form>
    </div>

    <div class="content">
        <div class="title-content">
            <h2>CONSULTA DE ALUNO</h2>
        </div>

        <div class="search">
            <input type="text">
            <button class="btn-search">PESQUISAR</button>
            <button class="btn-search2">CADASTRAR NOVO ALUNO</button>
        </div>

        <div class="title-result">
            <p>REGISTRO ACADÊMICO</p>
            <p>NOME DO ALUNO</p>
            <p>CPF</p>
            <p>AÇÕES</p>
        </div>

        <div class="result">
            <span class="register">
                21958
            </span>

            <span class="name">
                Anderson Marlon
            </span>

            <span class="cpf">
                44597923896
            </span>

            <div class="btn-edit">
                <button class="edit">editar</button>
                <button class="delete">deletar</button>
            </div>
        </div>
    </div>
    
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="../src/script.js"></script>
  <script src="../src/vue.js"></script>
</html>
